### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Quick look in the dataset school_data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Quick look in the dataset student_data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Quick look in the merged dataset
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Check the data set size
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [6]:
# Calculate the total number of schools
total_number_schools = school_data['school_name'].count()
total_number_schools

15

In [7]:
# Calculate the total number of students
total_number_students = school_data['size'].sum()
total_number_students

39170

In [8]:
# Check the data frame data type
school_data.dtypes

# First set the budget column to dtypte float
school_data['budget'] = school_data['budget'].astype(float)

# Calculate the total budget
total_budget = school_data['budget'].sum()

#total_budget.map("${:,.2f}".format)
total_budget

24649428.0

In [9]:
# Calculate the average math score 
math_score_avg = round(school_data_complete['math_score'].mean(),2)
math_score_avg

78.99

In [10]:
# Calculate the average reading score 
reading_score_avg = round(school_data_complete['reading_score'].mean(),2)
reading_score_avg

81.88

In [11]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete['math_score'] > 69
students_passing_math_score = round(100*(school_data_complete['math_score'].loc[math_pass].count())/total_number_students,2)
students_passing_math_score

74.98

In [12]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = school_data_complete['reading_score'] > 69
students_passing_reading_score = round(100*(school_data_complete['reading_score'].loc[reading_pass].count())/total_number_students,2)
students_passing_reading_score

85.81

In [13]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
students_passed_math_and_reading = round(100*school_data_complete['math_score'][(math_pass) & (reading_pass)].count()/total_number_students,2)
students_passed_math_and_reading

65.17

In [14]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({'Total Schools': total_number_schools, 
                                 'Total Students': total_number_students,
                                 'Total Budget': total_budget, 
                                 'Average Math Score': math_score_avg, 
                                 'Average Reading Score': reading_score_avg, 
                                 '% Passing Math': students_passing_math_score, 
                                 '% Passing Reading': students_passing_reading_score, 
                                 '% Overall Passing': students_passed_math_and_reading}, 
                                index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [15]:
# Check the school name column results
school_data_complete['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
# Group by School
school_grouped = school_data_complete.groupby(['school_name'])
school_grouped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [17]:
# Filtering by one of the group values
school_grouped.get_group('Bailey High School')

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
22842,22842,Jaclyn Ayala,F,12th,Bailey High School,74,93,7,District,4976,3124928
22843,22843,Jennifer Tapia,F,12th,Bailey High School,79,56,7,District,4976,3124928
22844,22844,Gabriel Ashley,M,9th,Bailey High School,95,88,7,District,4976,3124928
22845,22845,Sarah Cooper,F,10th,Bailey High School,91,62,7,District,4976,3124928
22846,22846,Dr. Nicholas Garcia,M,11th,Bailey High School,90,79,7,District,4976,3124928

In [18]:
school_grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [19]:
#School Name
School_Name = school_grouped['school_name'].unique()
School_Name

school_name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: school_name, dtype: object

In [20]:
#School Type
School_Type = school_grouped['type'].unique()
School_Type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [21]:
#Total Students
Total_Students = school_grouped['Student ID'].count()
Total_Students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [22]:
#Total School Budget
Total_School_Budget = school_grouped['budget'].mean()
Total_School_Budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [23]:
# Per Student Budget
Per_Student_Budget = Total_School_Budget / Total_Students
Per_Student_Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
# Average Math Score
Average_Math_Score = school_grouped['math_score'].mean()
Average_Math_Score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [25]:
# Average Reading Score
Average_Reading_Score = school_grouped['reading_score'].mean()
Average_Reading_Score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
# % Passing Math (Using simple filter)
math_pass = school_data_complete['math_score'] > 69
Passing_Math = round(100*school_data_complete[math_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Math

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [27]:
# % Passing Reading (Using simple filter)
reading_pass = school_data_complete['reading_score'] > 69
Passing_Reading = round(100*school_data_complete[reading_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Reading

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [28]:
# % Overall Passing (The percentage of students that passed math and reading.)
Overall_Passing = round(100*school_data_complete[math_pass & reading_pass]['school_name'].value_counts()/Total_Students,2)
Overall_Passing

Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
dtype: float64

In [29]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': School_Type,'Total Students': Total_Students,
                               'Total School Budget': Total_School_Budget,'Per Student Budget': Per_Student_Budget,
                               'Average Math Score': Average_Math_Score,'Average Reading Score': Average_Reading_Score,
                               '% Passing Math': Passing_Math,'% Passing Reading':Passing_Reading,'% Overall Passing': Overall_Passing})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.99,80.74,53.20
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.39,97.14,90.60
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.75,80.86,53.53
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.51,96.25,89.23
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.68,81.32,53.51
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.06,81.22,53.54
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.59,95.95,90.54
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.37,80.22,52.99
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,93.87,95.85,89.89
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.27,97.31,90.95
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.87,96.54,90.58
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [30]:
school_summary.sort_values('% Overall Passing',ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.13,97.04,91.33
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.27,97.31,90.95
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.39,97.14,90.60
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.87,96.54,90.58
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [31]:
school_summary.sort_values('% Overall Passing',ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.37,80.22,52.99
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.99,80.74,53.20
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.68,81.32,53.51
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.75,80.86,53.53
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.06,81.22,53.54

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
# Create a data frame from the original data frame focusing on Math
math_df = school_data_complete[['Student ID', 'grade','school_name', 'math_score','School ID']]
#math_df


# Create panda dataframe for each grade from the math dataframe
math_9th_grade = math_df.loc[math_df['grade'] == '9th']
math_10th_grade = math_df.loc[math_df['grade'] == '10th']
math_11th_grade = math_df.loc[math_df['grade'] == '11th']
math_12th_grade = math_df.loc[math_df['grade'] == '12th']
math_9th_grade

       Student ID grade         school_name  math_score  School ID
0               0   9th   Huang High School          79          0
4               4   9th   Huang High School          84          0
5               5   9th   Huang High School          94          0
12             12   9th   Huang High School          79          0
13             13   9th   Huang High School          79          0
...           ...   ...                 ...         ...        ...
39152       39152   9th  Thomas High School          84         14
39153       39153   9th  Thomas High School          75         14
39157       39157   9th  Thomas High School          94         14
39164       39164   9th  Thomas High School          76         14
39167       39167   9th  Thomas High School          84         14

[11408 rows x 5 columns]

In [33]:
# In order to group the series by school, set the index for school
math_9th_grade_new = math_9th_grade.set_index('school_name')
math_10th_grade_new = math_10th_grade.set_index('school_name')
math_11th_grade_new = math_11th_grade.set_index('school_name')
math_12th_grade_new = math_12th_grade.set_index('school_name')
math_9th_grade_new

                    Student ID grade  math_score  School ID
school_name
Huang High School            0   9th          79          0
Huang High School            4   9th          84          0
Huang High School            5   9th          94          0
Huang High School           12   9th          79          0
Huang High School           13   9th          79          0
...                        ...   ...         ...        ...
Thomas High School       39152   9th          84         14
Thomas High School       39153   9th          75         14
Thomas High School       39157   9th          94         14
Thomas High School       39164   9th          76         14
Thomas High School       39167   9th          84         14

[11408 rows x 4 columns]

In [34]:
# Create a series for each grade
math_9th_series = pd.Series(math_9th_grade_new['math_score'])
math_10th_series = pd.Series(math_10th_grade_new['math_score'])
math_11th_series = pd.Series(math_11th_grade_new['math_score'])
math_12th_series = pd.Series(math_12th_grade_new['math_score'])
math_9th_series

school_name
Huang High School     79
Huang High School     84
Huang High School     94
Huang High School     79
Huang High School     79
                      ..
Thomas High School    84
Thomas High School    75
Thomas High School    94
Thomas High School    76
Thomas High School    84
Name: math_score, Length: 11408, dtype: int64

In [35]:
# Create a variable to store each of the series that hold the average for each grade
math_9th_average = math_9th_series.groupby(level="school_name").mean()
math_10th_average = math_10th_series.groupby(level="school_name").mean()
math_11th_average = math_11th_series.groupby(level="school_name").mean()
math_12th_average = math_12th_series.groupby(level="school_name").mean()

In [36]:
# Create a dataframe to hold the above results
math_average_by_grade = pd.DataFrame({'9th': math_9th_average, '10th': math_10th_average, 
                                      '11th': math_11th_average, '12th': math_12th_average})
math_average_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [37]:
# Create a data frame from the original data frame focusing on reading
reading_df = school_data_complete[['Student ID', 'grade','school_name', 'reading_score','School ID']]


# Create panda dataframe for each grade from the reading dataframe
reading_9th_grade = reading_df.loc[reading_df['grade'] == '9th']
reading_10th_grade = reading_df.loc[reading_df['grade'] == '10th']
reading_11th_grade = reading_df.loc[reading_df['grade'] == '11th']
reading_12th_grade = reading_df.loc[reading_df['grade'] == '12th']


# In order to group the series by school, set the index for school
reading_9th_grade_new = reading_9th_grade.set_index('school_name')
reading_10th_grade_new = reading_10th_grade.set_index('school_name')
reading_11th_grade_new = reading_11th_grade.set_index('school_name')
reading_12th_grade_new = reading_12th_grade.set_index('school_name')

# Create a series for each grade
reading_9th_series = pd.Series(reading_9th_grade_new['reading_score'])
reading_10th_series = pd.Series(reading_10th_grade_new['reading_score'])
reading_11th_series = pd.Series(reading_11th_grade_new['reading_score'])
reading_12th_series = pd.Series(reading_12th_grade_new['reading_score'])


# Create a variable to store each of the series that hold the average for each grade
reading_9th_average = reading_9th_series.groupby(level="school_name").mean()
reading_10th_average = reading_10th_series.groupby(level="school_name").mean()
reading_11th_average = reading_11th_series.groupby(level="school_name").mean()
reading_12th_average = reading_12th_series.groupby(level="school_name").mean()

# Create a dataframe to hold the above results
reading_average_by_grade = pd.DataFrame({'9th': reading_9th_average, '10th': reading_10th_average, 
                                      '11th': reading_11th_average, '12th': reading_12th_average})
reading_average_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [38]:
# Begin by creating a new data frame based on the one created for the first part of this homework and select only the target columns
scores_by_school_df = school_summary[['Per Student Budget','Average Math Score','Average Reading Score',
                                        '% Passing Math','% Passing Reading','% Overall Passing']]
scores_by_school_df

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,582.0,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,639.0,76.711767,81.158020,65.99,80.74,53.20
Ford High School,644.0,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,625.0,83.351499,83.816757,93.39,97.14,90.60
Hernandez High School,652.0,77.289752,80.934412,66.75,80.86,53.53
Holden High School,581.0,83.803279,83.814988,92.51,96.25,89.23
Huang High School,655.0,76.629414,81.182722,65.68,81.32,53.51
Johnson High School,650.0,77.072464,80.966394,66.06,81.22,53.54
Pena High School,609.0,83.839917,84.044699,94.59,95.95,90.54
Rodriguez High School,637.0,76.842711,80.744686,66.37,80.22,52.99
Shelton High School,600.0,83.359455,83.725724,93.87,95.85,89.89
Thomas High School,638.0,83.418349,83.848930,93.27,97.31,90.95
Wilson High School,578.0,83.274201,83.989488,93.87,96.54,90.58
Wright High School,583.0,83.682222,83.955000,93.33,96.61,90.33

In [39]:
# Use the describe attribute to investigate the quantiles
scores_by_school_df['Per Student Budget'].describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
Name: Per Student Budget, dtype: float64

In [40]:
# Create 4 reasonable bins to group school spending
bins = [577, 591, 628, 641, 655]

# Create the names for the four bins
group_names = ["< $591", "$591-628", "$628-641", ">$641"]

# Cut data into bins and create a new column with the data
scores_by_school_df['Spending Ranges Per Student'] = pd.cut(scores_by_school_df['Per Student Budget'], bins, labels=group_names)


# Create the final data frame by reorganizing the columns
cols = ['Spending Ranges Per Student','Per Student Budget','Average Math Score','Average Reading Score',
         '% Passing Math','% Passing Reading','% Overall Passing']

scores_by_school_df = scores_by_school_df.reindex(columns= cols)
scores_by_school_df

/Users/gabrielpivaro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Spending Ranges Per Student,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,
Bailey High School,$591-628,628.0,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,< $591,582.0,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,$628-641,639.0,76.711767,81.158020,65.99,80.74,53.20
Ford High School,>$641,644.0,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,$591-628,625.0,83.351499,83.816757,93.39,97.14,90.60
Hernandez High School,>$641,652.0,77.289752,80.934412,66.75,80.86,53.53
Holden High School,< $591,581.0,83.803279,83.814988,92.51,96.25,89.23
Huang High School,>$641,655.0,76.629414,81.182722,65.68,81.32,53.51
Johnson High School,>$641,650.0,77.072464,80.966394,66.06,81.22,53.54
Pena High School,$591-628,609.0,83.839917,84.044699,94.59,95.95,90.54
Rodriguez High School,$628-641,637.0,76.842711,80.744686,66.37,80.22,52.99
Shelton High School,$591-628,600.0,83.359455,83.725724,93.87,95.85,89.89
Thomas High School,$628-641,638.0,83.418349,83.848930,93.27,97.31,90.95
Wilson High School,< $591,578.0,83.274201,83.989488,93.87,96.54,90.58
Wright High School,< $591,583.0,83.682222,83.955000,93.33,96.61,90.33

In [41]:
# Drop the column Per Student Budget
scores_by_school_df = scores_by_school_df.drop(columns = 'Per Student Budget')

# Finally group the data frame by the 4 bins created
scores_by_school_df.groupby('Spending Ranges Per Student').mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges Per Student,,,,,
< $591,83.455399,83.933814,93.4600,96.6100,90.367500
$591-628,81.899826,83.155286,87.1325,92.7175,81.417500
$628-641,78.990942,81.917212,75.2100,86.0900,65.713333
>$641,77.023555,80.957446,66.7000,80.6750,53.717500

## Scores by School Size

* Perform the same operations as above, based on school size.

In [45]:
# Begin by creating a new data frame based on the one created for the first part of this homework and select only the target columns
scores_by_size_df = school_summary[['Total Students','Average Math Score',
                                    'Average Reading Score','% Passing Math',
                                    '% Passing Reading','% Overall Passing']]

scores_by_size_df.head()

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,4976,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,1858,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,2949,76.711767,81.158020,65.99,80.74,53.20
Ford High School,2739,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,1468,83.351499,83.816757,93.39,97.14,90.60

In [46]:
# Explore the range of values of the school size
scores_by_size_df['Total Students'].describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: Total Students, dtype: float64

In [50]:
# Create 4 reasonable bins to group school size based on the describe
bins = [0, 1500, 2500, 3500, 5000]

# Create the names for the four bins
group_names = ["< 1500", "1500-2500", "2500-3500", ">3500"]

# Cut data into bins and create a new column with the data
scores_by_size_df['School Size'] = pd.cut(scores_by_size_df['Total Students'], bins, labels=group_names)
scores_by_size_df.head()

/Users/gabrielpivaro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,
Bailey High School,4976,77.048432,81.033963,66.68,81.93,54.64,>3500
Cabrera High School,1858,83.061895,83.975780,94.13,97.04,91.33,1500-2500
Figueroa High School,2949,76.711767,81.158020,65.99,80.74,53.20,2500-3500
Ford High School,2739,77.102592,80.746258,68.31,79.30,54.29,2500-3500
Griffin High School,1468,83.351499,83.816757,93.39,97.14,90.60,< 1500

In [51]:
# Create the final data frame by reorganizing the columns
cols = ['School Size','Average Math Score','Average Reading Score',
         '% Passing Math','% Passing Reading','% Overall Passing']

scores_by_size_df = scores_by_size_df.reindex(columns= cols)
scores_by_size_df.head()

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,>3500,77.048432,81.033963,66.68,81.93,54.64
Cabrera High School,1500-2500,83.061895,83.975780,94.13,97.04,91.33
Figueroa High School,2500-3500,76.711767,81.158020,65.99,80.74,53.20
Ford High School,2500-3500,77.102592,80.746258,68.31,79.30,54.29
Griffin High School,< 1500,83.351499,83.816757,93.39,97.14,90.60

In [53]:
# Finally group the data frame by the 4 bins created
scores_by_size_df.groupby('School Size').mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
< 1500,83.664898,83.892148,93.496667,96.446667,90.123333
1500-2500,83.359224,83.898984,93.694000,96.670000,90.616000
2500-3500,76.814591,81.029000,66.660000,80.453333,53.666667
>3500,77.063340,80.919864,66.465000,81.057500,53.675000

## Scores by School Type

* Perform the same operations as above, based on school type