### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
# Quick look in the dataset school_data
school_data.head()

In [ ]:
# Quick look in the dataset student_data
student_data.head()

In [ ]:
# Quick look in the merged dataset
school_data_complete.head()

In [ ]:
# Check the data set size
# school_data_complete.count()

In [ ]:
# Calculate the total number of schools
total_number_schools = school_data['school_name'].count()
total_number_schools

In [ ]:
# Calculate the total number of students
total_number_students = school_data['size'].sum()
total_number_students

In [ ]:
# Check the data frame data type
school_data.dtypes

# First set the budget column to dtypte float
school_data['budget'] = school_data['budget'].astype(float)

# Calculate the total budget
total_budget = school_data['budget'].sum()

#total_budget.map("${:,.2f}".format)
total_budget

In [ ]:
# Calculate the average math score 
math_score_avg = round(school_data_complete['math_score'].mean(),2)
math_score_avg

In [ ]:
# Calculate the average reading score 
reading_score_avg = round(school_data_complete['reading_score'].mean(),2)
reading_score_avg

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete['math_score'] > 69
students_passing_math_score = round(100*(school_data_complete['math_score'].loc[math_pass].count())/total_number_students,2)
students_passing_math_score

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = school_data_complete['reading_score'] > 69
students_passing_reading_score = round(100*(school_data_complete['reading_score'].loc[reading_pass].count())/total_number_students,2)
students_passing_reading_score

In [ ]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
students_passed_math_and_reading = round(100*school_data_complete['math_score'][(math_pass) & (reading_pass)].count()/total_number_students,2)
students_passed_math_and_reading

In [ ]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({'Total Schools': total_number_schools, 
                                 'Total Students': total_number_students,
                                 'Total Budget': total_budget, 
                                 'Average Math Score': math_score_avg, 
                                 'Average Reading Score': reading_score_avg, 
                                 '% Passing Math': students_passing_math_score, 
                                 '% Passing Reading': students_passing_reading_score, 
                                 '% Overall Passing': students_passed_math_and_reading}, 
                                index=[0])
district_summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# Check the school name column results
# school_data_complete['school_name'].value_counts()

In [ ]:
# Group by School
school_grouped = school_data_complete.groupby(['school_name'])
school_grouped.head()

In [ ]:
# Filtering by one of the group values
school_grouped.get_group('Bailey High School')

In [ ]:
school_grouped.describe()

In [ ]:
school_grouped.count()

In [ ]:
#School Name
School_Name = school_grouped['school_name'].unique()
School_Name

In [ ]:
#School Type
School_Type = school_grouped['type'].unique()
School_Type

In [ ]:
#Total Students
Total_Students = school_grouped['Student ID'].count()
Total_Students

In [ ]:
#Total School Budget
Total_School_Budget = school_grouped['budget'].mean()
Total_School_Budget

In [ ]:
# Per Student Budget
Per_Student_Budget = Total_School_Budget / Total_Students
Per_Student_Budget

In [ ]:
# Average Math Score
Average_Math_Score = school_grouped['math_score'].mean()
Average_Math_Score

In [ ]:
# Average Reading Score
Average_Reading_Score = school_grouped['reading_score'].mean()
Average_Reading_Score

In [ ]:
# % Passing Math (Using simple filter)
math_pass = school_data_complete['math_score'] > 69
Passing_Math = round(100*school_data_complete[math_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Math

In [ ]:
# % Passing Reading (Using simple filter)
reading_pass = school_data_complete['reading_score'] > 69
Passing_Reading = round(100*school_data_complete[reading_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Reading

In [ ]:
# % Overall Passing (The percentage of students that passed math and reading.)
Overall_Passing = round(100*school_data_complete[math_pass & reading_pass]['school_name'].value_counts()/Total_Students,2)
Overall_Passing

In [ ]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': School_Type,'Total Students': Total_Students,
                               'Total School Budget': Total_School_Budget,'Per Student Budget': Per_Student_Budget,
                               'Average Math Score': Average_Math_Score,'Average Reading Score': Average_Reading_Score,
                               '% Passing Math': Passing_Math,'% Passing Reading':Passing_Reading,'% Overall Passing': Overall_Passing})
school_summary

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(school_summary.to_markdown())

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing_schools = school_summary.sort_values('% Overall Passing',ascending=False).head(5)
top_performing_schools

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(top_performing_schools.to_markdown())

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_performing_schools = school_summary.sort_values('% Overall Passing',ascending=True).head(5)
bottom_performing_schools

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(bottom_performing_schools.to_markdown())

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# Create a data frame from the original data frame focusing on Math
math_df = school_data_complete[['Student ID', 'grade','school_name', 'math_score','School ID']]
#math_df


# Create panda dataframe for each grade from the math dataframe
math_9th_grade = math_df.loc[math_df['grade'] == '9th']
math_10th_grade = math_df.loc[math_df['grade'] == '10th']
math_11th_grade = math_df.loc[math_df['grade'] == '11th']
math_12th_grade = math_df.loc[math_df['grade'] == '12th']
math_9th_grade

In [ ]:
# In order to group the series by school, set the index for school
math_9th_grade_new = math_9th_grade.set_index('school_name')
math_10th_grade_new = math_10th_grade.set_index('school_name')
math_11th_grade_new = math_11th_grade.set_index('school_name')
math_12th_grade_new = math_12th_grade.set_index('school_name')
math_9th_grade_new

In [ ]:
# Create a series for each grade
math_9th_series = pd.Series(math_9th_grade_new['math_score'])
math_10th_series = pd.Series(math_10th_grade_new['math_score'])
math_11th_series = pd.Series(math_11th_grade_new['math_score'])
math_12th_series = pd.Series(math_12th_grade_new['math_score'])
math_9th_series

In [ ]:
# Create a variable to store each of the series that hold the average for each grade
math_9th_average = math_9th_series.groupby(level="school_name").mean()
math_10th_average = math_10th_series.groupby(level="school_name").mean()
math_11th_average = math_11th_series.groupby(level="school_name").mean()
math_12th_average = math_12th_series.groupby(level="school_name").mean()

In [ ]:
# Create a dataframe to hold the above results
math_average_by_grade = pd.DataFrame({'9th': math_9th_average, '10th': math_10th_average, 
                                      '11th': math_11th_average, '12th': math_12th_average})
math_average_by_grade

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(math_average_by_grade.to_markdown())

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create a data frame from the original data frame focusing on reading
reading_df = school_data_complete[['Student ID', 'grade','school_name', 'reading_score','School ID']]


# Create panda dataframe for each grade from the reading dataframe
reading_9th_grade = reading_df.loc[reading_df['grade'] == '9th']
reading_10th_grade = reading_df.loc[reading_df['grade'] == '10th']
reading_11th_grade = reading_df.loc[reading_df['grade'] == '11th']
reading_12th_grade = reading_df.loc[reading_df['grade'] == '12th']


# In order to group the series by school, set the index for school
reading_9th_grade_new = reading_9th_grade.set_index('school_name')
reading_10th_grade_new = reading_10th_grade.set_index('school_name')
reading_11th_grade_new = reading_11th_grade.set_index('school_name')
reading_12th_grade_new = reading_12th_grade.set_index('school_name')

# Create a series for each grade
reading_9th_series = pd.Series(reading_9th_grade_new['reading_score'])
reading_10th_series = pd.Series(reading_10th_grade_new['reading_score'])
reading_11th_series = pd.Series(reading_11th_grade_new['reading_score'])
reading_12th_series = pd.Series(reading_12th_grade_new['reading_score'])


# Create a variable to store each of the series that hold the average for each grade
reading_9th_average = reading_9th_series.groupby(level="school_name").mean()
reading_10th_average = reading_10th_series.groupby(level="school_name").mean()
reading_11th_average = reading_11th_series.groupby(level="school_name").mean()
reading_12th_average = reading_12th_series.groupby(level="school_name").mean()

# Create a dataframe to hold the above results
reading_average_by_grade = pd.DataFrame({'9th': reading_9th_average, '10th': reading_10th_average, 
                                      '11th': reading_11th_average, '12th': reading_12th_average})
reading_average_by_grade

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(reading_average_by_grade.to_markdown())

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Begin by creating a new data frame based on the one created for the first part of this homework and select only the target columns
scores_by_school_df = school_summary[['Per Student Budget','Average Math Score','Average Reading Score',
                                        '% Passing Math','% Passing Reading','% Overall Passing']]
scores_by_school_df

In [ ]:
# Use the describe attribute to investigate the quantiles
scores_by_school_df['Per Student Budget'].describe()

In [ ]:
# Create 4 reasonable bins to group school spending
bins = [577, 591, 628, 641, 655]

# Create the names for the four bins
group_names = ["< $591", "$591-628", "$628-641", ">$641"]

# Cut data into bins and create a new column with the data
scores_by_school_df['Spending Ranges Per Student'] = pd.cut(scores_by_school_df['Per Student Budget'], bins, labels=group_names)


# Create the final data frame by reorganizing the columns
cols = ['Spending Ranges Per Student','Per Student Budget','Average Math Score','Average Reading Score',
         '% Passing Math','% Passing Reading','% Overall Passing']

scores_by_school_df = scores_by_school_df.reindex(columns= cols)
scores_by_school_df

In [ ]:
# Drop the column Per Student Budget
scores_by_school_df = scores_by_school_df.drop(columns = 'Per Student Budget')

# Finally group the data frame by the 4 bins created
school_size_results_df = scores_by_school_df.groupby('Spending Ranges Per Student').mean()
school_size_results_df

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(school_size_results_df.to_markdown())

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Begin by creating a new data frame based on the one created for the first part of this homework and select only the target columns
scores_by_size_df = school_summary[['Total Students','Average Math Score',
                                    'Average Reading Score','% Passing Math',
                                    '% Passing Reading','% Overall Passing']]

scores_by_size_df.head()

In [ ]:
# Explore the range of values of the school size
scores_by_size_df['Total Students'].describe()

In [ ]:
# Create 4 reasonable bins to group school size based on the describe
bins = [0, 1500, 2500, 3500, 5000]

# Create the names for the four bins
group_names = ["< 1500", "1500-2500", "2500-3500", ">3500"]

# Cut data into bins and create a new column with the data
scores_by_size_df['School Size'] = pd.cut(scores_by_size_df['Total Students'], bins, labels=group_names)
scores_by_size_df.head()

In [ ]:
# Create the final data frame by reorganizing the columns
cols = ['School Size','Average Math Score','Average Reading Score',
         '% Passing Math','% Passing Reading','% Overall Passing']

scores_by_size_df = scores_by_size_df.reindex(columns= cols)
scores_by_size_df.head()

In [ ]:
# Finally group the data frame by the 4 bins created
scores_by_size_results_df = scores_by_size_df.groupby('School Size').mean()
scores_by_size_results_df

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(scores_by_size_results_df.to_markdown())

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Begin by creating a new data frame based on the one created for the first part of this homework and select only the target columns
scores_by_type_df = school_summary[['School Type','Average Math Score',
                                    'Average Reading Score','% Passing Math',
                                    '% Passing Reading','% Overall Passing']]

scores_by_type_df.head()

In [ ]:
# Check the dataframe columns
scores_by_type_df.columns

In [ ]:
# List the values in the School Type column
scores_by_type_df['School Type']

In [ ]:
# Filter the row values by the school type
scores_by_type_df['School Type'].loc[scores_by_type_df['School Type']=='District']

In [ ]:
# Calculate the average for the target metrics
district_school_results = scores_by_type_df.loc[scores_by_type_df['School Type']=='District'].mean()
district_school_results

In [ ]:
# Calculate the average for the target metrics
charter_school_results = scores_by_type_df.loc[scores_by_type_df['School Type']=='Charter'].mean()
charter_school_results

In [ ]:
# Create the final dataframe with the results by school type
school_type_df = pd.DataFrame({"Charter":charter_school_results, "District":district_school_results})
school_type_df

In [ ]:
# Transpose the dataframe and create a new dataframe with the results
school_type_results_df = school_type_df.T
school_type_results_df

In [ ]:
# Reset the index
school_type_results_df.reset_index(inplace=True)
school_type_results_df

In [ ]:
# Retrieve the columns name
school_type_results_df.columns

In [ ]:
# Rename the column
school_type_results_df.rename(columns={'index': 'School Type'}, inplace=True)
school_type_results_df

In [ ]:
# Finally set the index to the desired column
school_type_results_df.set_index('School Type',inplace=True)
school_type_results_df

In [ ]:
# Create a markdown version of the dataframe to be exported to a report
import tabulate
print(school_type_results_df.to_markdown())