### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Quick look in the dataset school_data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Quick look in the dataset student_data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Quick look in the merged dataset
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Check the data set size
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [6]:
# Calculate the total number of schools
total_number_schools = school_data['school_name'].count()
total_number_schools

15

In [7]:
# Calculate the total number of students
total_number_students = school_data['size'].sum()
total_number_students

39170

In [8]:
# Check the data frame data type
school_data.dtypes

# First set the budget column to dtypte float
school_data['budget'] = school_data['budget'].astype(float)

# Calculate the total budget
total_budget = school_data['budget'].sum()

#total_budget.map("${:,.2f}".format)
total_budget

24649428.0

In [9]:
# Calculate the average math score 
math_score_avg = round(school_data_complete['math_score'].mean(),2)
math_score_avg

78.99

In [10]:
# Calculate the average reading score 
reading_score_avg = round(school_data_complete['reading_score'].mean(),2)
reading_score_avg

81.88

In [11]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete['math_score'] > 69
students_passing_math_score = round(100*(school_data_complete['math_score'].loc[math_pass].count())/total_number_students,2)
students_passing_math_score

74.98

In [12]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = school_data_complete['reading_score'] > 69
students_passing_reading_score = round(100*(school_data_complete['reading_score'].loc[reading_pass].count())/total_number_students,2)
students_passing_reading_score

85.81

In [13]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
students_passed_math_and_reading = round(100*school_data_complete['math_score'][(math_pass) & (reading_pass)].count()/total_number_students,2)
students_passed_math_and_reading

65.17

In [14]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({'Total Schools': total_number_schools, 
                                 'Total Students': total_number_students,
                                 'Total Budget': total_budget, 
                                 'Average Math Score': math_score_avg, 
                                 'Average Reading Score': reading_score_avg, 
                                 '% Passing Math': students_passing_math_score, 
                                 '% Passing Reading': students_passing_reading_score, 
                                 '% Overall Passing': students_passed_math_and_reading}, 
                                index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [15]:
# Check the school name column results
school_data_complete['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
# Group by School
school_grouped = school_data_complete.groupby(['school_name'])
school_grouped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [17]:
# Filtering by one of the group values
school_grouped.get_group('Bailey High School')

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
22842,22842,Jaclyn Ayala,F,12th,Bailey High School,74,93,7,District,4976,3124928
22843,22843,Jennifer Tapia,F,12th,Bailey High School,79,56,7,District,4976,3124928
22844,22844,Gabriel Ashley,M,9th,Bailey High School,95,88,7,District,4976,3124928
22845,22845,Sarah Cooper,F,10th,Bailey High School,91,62,7,District,4976,3124928
22846,22846,Dr. Nicholas Garcia,M,11th,Bailey High School,90,79,7,District,4976,3124928

In [18]:
school_grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [19]:
#School Name
School_Name = school_grouped['school_name'].unique()
School_Name

school_name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: school_name, dtype: object

In [20]:
#School Type
School_Type = school_grouped['type'].unique()
School_Type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [21]:
#Total Students
Total_Students = school_grouped['Student ID'].count()
Total_Students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [22]:
#Total School Budget
Total_School_Budget = school_grouped['budget'].mean()
Total_School_Budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [23]:
# Per Student Budget
Per_Student_Budget = Total_School_Budget / Total_Students
Per_Student_Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
# Average Math Score
Average_Math_Score = school_grouped['math_score'].mean()
Average_Math_Score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [25]:
# Average Reading Score
Average_Reading_Score = school_grouped['reading_score'].mean()
Average_Reading_Score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
# % Passing Math (Using simple filter)
math_pass = school_data_complete['math_score'] > 69
Passing_Math = 100*round(school_data_complete[math_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Math

Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
dtype: float64

In [27]:
# % Passing Reading (Using simple filter)
reading_pass = school_data_complete['reading_score'] > 69
Passing_Reading = 100*round(school_data_complete[reading_pass]['school_name'].value_counts()/Total_Students,2)
Passing_Reading

Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
dtype: float64

In [28]:
# % Overall Passing (The percentage of students that passed math and reading.)
Overall_Passing = 100*round(school_data_complete[math_pass & reading_pass]['school_name'].value_counts()/Total_Students,2)
Overall_Passing

Bailey High School       55.0
Cabrera High School      91.0
Figueroa High School     53.0
Ford High School         54.0
Griffin High School      91.0
Hernandez High School    54.0
Holden High School       89.0
Huang High School        54.0
Johnson High School      54.0
Pena High School         91.0
Rodriguez High School    53.0
Shelton High School      90.0
Thomas High School       91.0
Wilson High School       91.0
Wright High School       90.0
dtype: float64

In [29]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': School_Type,'Total Students': Total_Students,'Total School Budget': Total_School_Budget,'Per Student Budget': Per_Student_Budget,'Average Math Score': Average_Math_Score,'Average Reading Score': Average_Reading_Score,'% Passing Math': Passing_Math,'% Passing Reading':Passing_Reading,'% Overall Passing': Overall_Passing})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,67.0,82.0,55.0
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.0,97.0,91.0
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,66.0,81.0,53.0
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.0,79.0,54.0
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.0,97.0,91.0
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,67.0,81.0,54.0
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,93.0,96.0,89.0
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,66.0,81.0,54.0
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.0,81.0,54.0
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,95.0,96.0,91.0
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.0,80.0,53.0
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,94.0,96.0,90.0
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.0,97.0,91.0
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,94.0,97.0,91.0
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.0,97.0,90.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [30]:
school_summary.sort_values('% Overall Passing',ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.0,97.0,91.0
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.0,97.0,91.0
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,95.0,96.0,91.0
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.0,97.0,91.0
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,94.0,97.0,91.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [31]:
school_summary.sort_values('% Overall Passing',ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,66.0,81.0,53.0
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.0,80.0,53.0
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.0,79.0,54.0
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,67.0,81.0,54.0
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,66.0,81.0,54.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type